
# Ignore big data
*.tsv
*.fastq.gz
*.fq.gz
*.bam
*.sam
*.log
*.html
*.json
*.tmp
*.rds
*.ipynb_checkpoints
.Rhistory
.RData
.DS_Store

#Dir struture with data 
/Coexpress
logs/
/010-reference/data/
/010-reference/results/
/010-reference/star_index/
/010-reference/star_index_gtf/
/010-reference/salmon_index/
/020-data-download/logs/
/030-qc-fastq/logs/
/090-search-gene/results/
/090-search-gene/inputs
/030-qc-fastq/multiqc_report_*/
configs/
